* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    font-size: 7px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

#video,
#canvas {
    display: none;
}

#output {
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
}

.row {
    line-height: 1.1;
}

.col {
    margin: 0 -0.2px;
}

#colors-button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    padding: 4px 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(76, 107, 247);
    color: white;
}